body{
   background-image: url("./assests/images/newBgcrys.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   text-align: center;
}
.header{
    /* text-align: center;
    font-size: 100%;
    font-weight: bold; */
    /* background-image: url(./assests/images/newBgcrys.jpg); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: plum;
    text-align: center;

}
.targetNum{
    font-size: 170%;
    color: purple;
    font-weight: bold;

}

.scores{
color: purple;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 150%; 


}

.crystals{
/* text-align: center; */

    
}

.total{
    font-size: 250%;
    color: purple;
    font-weight: bold;

}

.crystal{
    height: 220px;
    width: 220px;
    object-fit: contain;
    text-align: center;

}

