body{
   background-image: url("/Users/mac/Crystals-Collector-Game/assests/images/bgCrystals.jpg");
   text-align: center;
}
.header{
    /* text-align: center;
    font-size: 100%;
    font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-align: center;

}
.targetNum{
    color: white;
    font-size: 150%; 

}

.scores{
background-color: aqua;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;


}

.crystals{
/* text-align: center; */

    
}

.total{
    font-size: 150%;
    color: white;
}

.crystal{
    height: 300px;
    width: 300px;
    object-fit: contain;
    text-align: center;

}

